#footer {
  background-color: #f8f9fa;
  flex-direction: column;
  width: 100%;
  justify-self: end;
  margin: 0 !important;
  margin-top: 20px;
  padding: 20px 60px;
  justify-content: center;
}

@media (min-width: 450px) {
  #footer {
    padding: 30px 130px;
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  #footer {
    padding: 30px 130px;
  }
}

.logo-text {
  font-size: 1.4em;
}

.copyright {
  padding-left: 30px;
}
