.navbar-toggle {
  display: flex;
  justify-self: flex-end;
  /* margin: 10px 0; */
}

.search-form {
  margin-top: 20px;
}

.navbar-container {
  display: flex;
  width: 100%;
  background-color: rgba(var(--bs-light-rgb));
  align-items: center;
  padding: 0.5rem 0;
}

.title {
  position: absolute;
  z-index: 2;
  left: 100px;
  font-size: 1.7em;
  color: black;
  text-decoration: none;
}

.title:hover {
  color: rgba(0, 0, 0, 0.6)
}
@media (min-width: 990px) {
  .centered-nav {
    align-items: center;
  }
  .navbar-toggle {
    flex: 1;
  }
  .search-form {
    margin-top: 0;
  }

  .navbar-container {
    padding: 0 130px 0;
  }

  .title {
    left: 0;
    position: relative;
    width: 198px;
    margin-left: 10px;
  }

  .search-input {
    position: absolute;
    width: 100px !important;
    right: 62px;
  }
}

@media (min-width: 1300px) {
  .search-input {
    width: 160px !important;
  }
}

.shadow {
  box-shadow: 0px -5px 10px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}

/* .dropdown1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 0.95em;
} */

/* .iconNavbar {
  margin-top: 4px;
  margin-right: 20px;
  font-size: 1.5em;
  color: black;
} */
.margin {
  margin: 0;
}

.title > a {
  text-decoration: none;
  color: black;
}

/* .navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: -webkit-fill-available;
}
.me-auto {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
} */
