tr.noBorder td {
  border: 0;
}

tr.noBorder td {
  /* padding-right: 20px !important; */
}

.order-title {
  margin: 15px;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 20px;
}
.orderContainer {
  display: flex;
  /* max-width: 100%; */
  border: 0.8px solid grey;
  border-radius: 5px;
  margin-top: 2px;
  margin-left: 35%;
  margin-right: 35%;
  flex-direction: column;
}

.orderContainer2 {
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0.8px solid rgba(var(--bs-light-rgb));
  background-color: rgba(var(--bs-light-rgb));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 4px 4px 4px 2px rgba(136, 135, 135, 0.2);
}

.orderContainer3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.orderContainer4 {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  .orderContainer2 {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .items-table {
    display: none;
  }
}

@media (min-width: 900px) {
  .mobile-items {
    display: none;
  }
}

@media (min-width: 1000px) {
  .orderContainer2 {
    width: 80%;
    max-width: 1000px;
  }
}

.order-text2 {
  display: flex;
  flex-wrap: nowrap;
}
.order-text2 > a {
  text-decoration: none;
  /* border: 3px solid green; */
  width: 80px;
  margin: 15px;
  line-height: 15px;
  font-size: 12px;
}
.order-text2 > div {
  text-decoration: none;
  /* border: 3px solid green; */
  width: 80px;
  margin: 15px;
  line-height: 15px;
  font-size: 12px;
}

.order-card-img {
  width: 50px;
  height: 50px;
  margin: 15px;
}
.order-card-img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.dropdown1 {
  margin-left: 440px;
  margin-right: 340px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 0.95em;
}

.order-text1 {
  display: flex;
  align-items: flex-end;
}

.hiddentablerow {
  padding: 0px 0px !important;
  background-color: #ddd;
}

.mobile-cartitembtn {
  margin: 0;
  padding: 0.2rem 0.4rem !important;
}
