.stars {
  padding: 5px;
  /* width: 250px; */
  height: 60px;
  transition: transform 0.3s;
  display: flex;
  background-color: white;
  /* margin-left: 10px; */
}

.stars > * {
  background-color: white;
}

.activeStar {
  font-size: 26px;
  border: none;
  color: rgb(235, 235, 21);
  margin: 4.2px;
  padding: 0;
  background-color: white;
}

.inactiveStar {
  font-size: 26px;
  border: none;
  color: rgb(180, 180, 158);
  padding: 1%;
  margin: 4.2px;
  padding: 0;
  background-color: white;
}

.activeStar:hover {
  -webkit-transform: scale(2);
  transform: scale(1.5);
  transition: transform 0.3s;
}

@media (min-width: 600px) {
  /* .stars {
    margin-left: 50px;
  } */
}
